@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.top_center {
    top: 50%;
    transform: translate(0, -50%);
}

.violet_gray_text {
    color: #25213B;
}

.violet_gray_bg {
    background: #25213B;
}

.violet_text {
    color: #8B83BA;
}

.violet_bg {
    background: #8B83BA;
}

.violet_text_light {
    color: #6E6893;
}

.border_gray {
    border-color: #C6C2DE;
}

.grid_cols_10 {
    grid-template-columns: 15px 40px 2fr repeat(5, minmax(0, 1fr)) 1.5fr 20px;
}

.grid_cols_6 {
    grid-template-columns: 15px 40px 2fr repeat(2, minmax(0, 1fr)) 20px;
}

.transition_open {
    transition: max-height 1s linear;
    max-height: 1500px;
}

.transition_close {
    transition: max-height 1s linear;
    max-height: 0px;
}

.black_opacity {
    background: rgba(0, 0, 0, 0.5);
}

.hover_child {
    opacity: 0;
}

.hover_parent:hover ~ .hover_child {
    opacity: 1;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}